<!-- <app-header></app-header>
<app-post-file></app-post-file>
<app-post-list></app-post-list> -->

<div *ngIf="!isLoggedIn && !displayRegisterForm">
    <app-login (loginSuccess)="onLoginSuccess($event)"></app-login>
    <p>Don't have an account? <a href="#" (click)="toggleRegisterForm()">Register here!</a></p>
</div>
<div *ngIf="displayRegisterForm">
    <app-register></app-register>
    <p>Returning user? <a href="#" (click)="toggleRegisterForm()">Sign in here!</a></p>
</div>
<div *ngIf="isLoggedIn">
    <app-header></app-header>
    <app-post-file></app-post-file>
    <app-post-list></app-post-list>
</div>